/* CSS Reset */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Baloo Bhai' ,cursive;
}

body{
  background: url("./Components/Images/img2.webp") no-repeat;
}

/* Navbar CSS */
.nav{
  padding: 5px;
  height: 10vh;
  width: 100%;
  background-color: rgba(246, 242, 242, 0.297);
}

.nav-item{
  margin-left: 25%;
  width: 40%;
}

.nav ul{
  display: flex;
  margin-left: 10%;
  list-style-type: none;
}

.nav ul li{
  margin: 15px;
}

.nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav ul li a:hover{
  color: rgb(243, 17, 17);
  background-color: white;
  border-radius: 10px;
}

.nav ul li a:active{
    color: blueviolet;
}



.nav img{
  margin: 0px 10px 10px 10px;
  height: 8vh;
  width: 8vh;
  border-radius: 20px;
}

/* Home Page CSS */
.home{
  padding: 10px;
  height: 85vh;
  width: 100%;
  text-align: center;
  color:black;
}

.home .para{
  margin-top: 8%;
  padding: 10px;
  text-align:center;
  height: 380px;
  width: 600px;
  margin-left: 32%;
  background-color: rgba(246, 242, 242, 0.491);
  color:black;
  border-radius: 10px;
  font-size: 1rem;
  font-style: italic;
}

.home .para h1{
  text-decoration: underline;
}

.home .para span{
  font-size: 20px;
  color: rgb(243, 17, 17);
  text-decoration: underline;
}

/* Profile Page CSS */
.profile{
  background: url("./Components/Images/img3.webp");
  height: 85vh;
  width: 100%;
  margin: 0px;
  padding: 20px;
  color: white;
  font-size: 2rem;
}

.bttn{
  color: black;
  background-color: azure;
  border: 2px solid black;
  border-radius: 10px;
  height: 35px;
  width: 120px;
}


/* Project CSS */
.project{
  margin: 0px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url("./Components/Images/img4.jpg");
}

.project .website{
  margin-left: 12%;
  background-color: rgba(246, 242, 242, 0.297);
  border-radius: 10px;
  height: 40vh;
  width: 60vh;
  text-align:center;
}

.project .website img{
  padding: 0px;
  height: 35vh;
  width: 60vh;
}


/*About Page CSS*/
.about{
  height: 85vh;
  width: 100%;
  background: url("./Components/Images/img4.jpg");
}

.about .content{
  margin-left: 22%;
  height: 80vh;
  width: 60%;
  padding: 5%;  

}
.about .content dl{
  background-color: rgba(246, 242, 242, 0.297);
  border-radius: 5%;
  padding: 5px;
}

/*Contact Page CSS*/
.contact{
  height: 85vh;
  width: 100%;
  background: url("./Components/Images/img4.jpg");
}

.contact .form{
  margin-left: 31%;
  height: 75vh;
  width: 40%;
  padding: 1%;
}

.contact .form form{
  background-color: rgba(246, 242, 242, 0.297);
  margin: 5%;
  padding: 5%;
}

.contact .form input,textarea{
  height: 50px;
  width: 95%;
  margin: 10px;
  padding: 5px;
}


/* Footer CSS */
footer{
  /* border: 2px solid red; */
  background-color: rgba(246, 242, 242, 0.297);
  height: 5vh;
  width: 100%;
  padding: 5px;
  color:black;
  text-align: center;
}